body {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    font: normal 13px tahoma, sans-serif;
    color: #222;
}

#menu {
    background: #f80a53;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
}

#content {
    width: 750px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 30px 0;
    text-align: left;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 7px;
    border-radius: 5px;
    transition-property: color, background;
    transition-duration: 0.5s, 0.5s;
}

ul li a:hover {
    background: #01458e;
    color: #ff0;
    transition-property: color, background;
    transition-duration: 0.5s, 0.5s;
}

.default {
    width: 850px;
    height: 50px;
}

.fixed {
    position: fixed;
    top: -5px;
    left: 0;
    width: 100%;
    
}